﻿<div>
    <ul class="nav nav-tabs">
        <li data-ng-class="{ active: $state.includes('orders.open') }"><a data-ui-sref="orders.open" href="#">Open Orders</a></li>
        <li data-ng-class="{ active: $state.includes('orders.new') }"><a data-ui-sref="orders.new" href="#">New Order</a></li>
        <li data-ng-class="{ active: $state.includes('orders.closed') }"><a data-ui-sref="orders.closed" href="#">All Closed Orders</a></li>
        <li data-ng-class="{ active: $state.includes('orders.reports') }"><a data-ui-sref="orders.reports" href="#">Reports</a></li>
    </ul>
    <div data-ui-view=""></div>
</div>
