﻿<form class="form-horizontal" role="form" data-ng-submit="submit()">
    <div class="form-group">
        <label class="col-lg-2 control-label">Selection</label>
        <div class="col-lg-10">
            <input class="form-control" data-ng-model="order.Selection" type="text" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Customer</label>
        <div class="col-lg-10">
            <input class="form-control" data-ng-model="order.Customer" type="text" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Price</label>
        <div class="col-lg-10">
            <input class="form-control" data-ng-model="order.Price" min="2" max="1000" step="any" type="number" required />
        </div>
    </div>

    <div class="form-group">
        <label class="col-lg-2 control-label">Stake</label>
        <div class="col-lg-10">
            <input class="form-control" data-ng-model="order.Stake" min="2" max="1000" step="any" type="number" required />
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="controls btn btn-success">Save Order</button>
    </div>
</form>
