﻿@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html class="no-js" ng-app="myApp">
<head>
    <script>
        document.write('<base href="' + window.location.origin + '" />');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.angularjs.org/1.2.0-rc.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.0/angular-ui-router.js"></script>
    <script src="~/Scripts/myapp.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" data-ui-sref="home" href="#">Brand</a>
                <ul class="nav navbar-nav">
                    <li data-ng-class="{ active: $state.includes('agents') }"><a data-ui-sref="agents" href="#">Agents</a></li>
                    <li data-ng-class="{ active: $state.includes('orders') }"><a data-ui-sref="orders.open" href="#">Orders</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="row" role="main" data-ui-view=""></div>
    </section>
</body>
</html>

